/* Importación de la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500;600,700;800&display=swap');

/* Estilos generales */
* {
    margin: 0; /* Sin margen */
    padding: 0; /* Sin relleno */
    box-sizing: border-box; /* Modelo de caja de borde */
    text-decoration: none; /* Sin decoración de texto */
    list-style: none; /* Sin viñetas */
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Poppins', sans-serif; /* Fuente principal */
    background: url(images/nebula.jpg); /* Color de fondo */
    backdrop-filter: blur(20px); /* Desenfoque del fondo */
    
}

/* Contenedor general */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para el encabezado */
.header {
    background-position: center center; /* Posición del fondo */
    background-repeat: no-repeat; /* No repetir el fondo */
    background-size: cover; /* Tamaño del fondo */
    display: flex; /* Mostrar como flexbox */
    align-items: center; /* Centrar verticalmente */
    min-height: 80px; /* Altura mínima */
}

/* Menú de navegación */
.menu {
    position: absolute; /* Posición absoluta */
    top: 0; /* Desde arriba */
    left: 0; /* Desde la izquierda */
    right: 0; /* Hasta la derecha */
    display: flex; /* Mostrar como flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: space-between; /* Distribuir elementos */
}

/* Estilos para el logo */
.logo {
    color: #ff5a2c; /* Color del texto */
    font-size: 25px; /* Tamaño del texto */
    font-weight: 800; /* Grosor del texto */
    text-transform: uppercase; /* Convertir en mayúsculas */
}

/* Enlaces del menú */
.menu .navbar ul li {
    position: relative; /* Posición relativa */
    float: left; /* Flotar a la izquierda */
}

.menu .navbar ul li a {
    font-size: 18px; /* Tamaño del texto */
    padding: 20px; /* Espaciado interno */
    color: #FFFFFF; /* Color del texto */
    font-weight: 600; /* Grosor del texto */
    display: block; /* Mostrar como bloque */
}

.menu .navbar ul li a:hover {
    color: #283BFF; /* Color del texto al pasar el ratón */
}

/* Checkbox para el menú desplegable */
#menu {
    display: none; /* Ocultar checkbox */
}

/* Sección de contenido */
section {
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ancho completo */
    min-height: 100vh; /* Altura mínima de la pantalla */
    background: url(images/nebula.jpg); /* Fondo de la sección */
    background-size: cover; /* Tamaño del fondo */
    background-position: center; /* Posición del fondo */
}

/* Contenedor principal */
.contenedor {
    position: relative; /* Posición relativa */
    width: 400px; /* Ancho del contenedor */
    background-color: transparent; /* Fondo transparente */
    backdrop-filter: blur(15px); /* Desenfoque del fondo */
    border: 2px solid rgba(255, 255, 255, .6); /* Borde sólido */
    border-radius: 20px; /* Radio de borde */
    height: 450px; /* Altura del contenedor */
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.contenedor h2 {
    font-size: 2.3rem; /* Tamaño del texto */
    color: #fff; /* Color del texto */
    text-align: center; /* Alineación del texto */
}

/* Contenedor de entrada */
.input-contenedor {
    position: relative; /* Posición relativa */
    margin: 30px 0; /* Margen superior e inferior */
    width: 300px; /* Ancho del contenedor */
    border-bottom: 2px solid #fff; /* Borde inferior */
}

.input-contenedor label {
    position: absolute; /* Posición absoluta */
    top: 15%; /* Desde arriba */
    left: 5px; /* Desde la izquierda */
    transform: translateY(-50%); /* Mover hacia arriba */
    color: #fff; /* Color del texto */
    font-size: 1rem; /* Tamaño del texto */
    pointer-events: none; /* No permitir eventos de puntero */
    transition: .3s ease-out; /* Transición suave */
    font-weight: bold; /* Grosor del texto */
}

input:focus ~ label,
input:valid ~ label {
    top: -5px; /* Mover hacia arriba */
}

.input-contenedor input {
    width: 100%; /* Ancho completo */
    height: 50px; /* Altura del campo */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
    font-size: 1rem; /* Tamaño del texto */
    padding: - 35px 0 5px; /* Espaciado interno */
    color: #fff; /* Color del texto */
}

.input-contenedor i {
    position: absolute; /* Posición absoluta */
    color: #fff; /* Color del icono */
    font-size: 1.6rem; /* Tamaño del icono */
    top: 19px; /* Desde arriba */
    right: 8px; /* Desde la derecha */
}

/* Sección de 'Olvidar contraseña' */
.olvidar {
    margin: -15px 0 15px; /* Margen superior e inferior */
    font-size: .9em; /* Tamaño del texto */
    color: #fff; /* Color del texto */
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar horizontalmente */
}

.olvidar label input {
    margin: 3px; /* Margen alrededor */
}

.olvidar label a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin decoración de texto */
    transition: 3s; /* Duración de la transición */
    font-size: .9em; /* Tamaño del texto */
}

.olvidar label a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

/* Estilos para el botón */
button {
    width: 100%; /* Ancho completo */
    height: 45px; /* Altura del botón */
    border-radius: 40px; /* Radio de borde */
    background: #fff; /* Fondo blanco */
    border: none; /* Sin borde */
    font-weight: bold; /* Grosor del texto */
    cursor: pointer; /* Cursor de puntero */
    outline: none; /* Sin contorno */
    font-size: 1rem; /* Tamaño del texto */
    transition: .4s; /* Duración de la transición */
}

button:hover {
    opacity: .9; /* Opacidad al pasar el ratón */
}

/* Sección de 'Registrar' */
.registrar {
    font-size: .8rem; /* Tamaño del texto */
    color: #fff; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin: 20px 0 10px; /* Margen superior e inferior */
}

.registrar p a {
    text-decoration: none; /* Sin decoración de texto */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Grosor del texto */
    transition: .3s; /* Duración de la transición */
}

.registrar p a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}
